@import "./styles-vars";

.bem-error-dialog {
  border: 2px solid $colorRed1;
  border-radius: 5px;

  .mat-dialog-container {
    background-color: $colorOrange4;

    .mat-raised-button {
      color: white;
      background-color: $colorGrey3;
    }
  }
}

.bem-warn-dialog {
  border: 2px solid $colorOrange2;
  border-radius: 5px;

  .mat-dialog-container {
    background-color: $colorOrange4;

    .mat-raised-button {
      color: white;
      background-color: $colorGrey3;
    }
  }
}

.bem-form-dialog {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  border: solid $colorOrange3;
  border-radius: 5px;
  color: $colorGrey1;

  .mat-dialog-container {
    background-color: $colorGrey4;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  }

  .mat-focused .mat-form-field-label {
    color: $colorOrange4;
  }

  .mat-form-field-ripple {
    background-color: $colorOrange4 !important;
  }

  .mat-input-element {
    caret-color: $colorOrange4;
  }

  .mat-raised-button {
    background-color: $colorOrange4;
    margin-right: 2rem;
  }

  .mat-form-field {
    width: 100%;
  }

  // date picker
  .mat-icon-button {
    height: 35px;
    width: 35px;
  }

  .mat-button-wrapper {
    font-size: 35px;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $colorGrey1;
  }

  .mat-error {
    color: $colorRed2;
  }
}
