@import "styles-vars";

.gk-list-title-container {
  margin-bottom: 1rem;

  h2 {
    display: inline-block;
    color: $colorGrey2;
    border-bottom: 2px solid $colorOrange2;
    margin: 0;
    cursor: default;
  }
}

.gk-input-err {
  color: $colorRed1;
}

.bem-link {
  cursor: pointer;
  text-decoration: underline;
  color: $colorGrey1;

  &:hover {
    color: $colorOrange1;
  }
}
