<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content>
  {{data.description}}
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="close()" class="mat-raised-button">Close</button>
</mat-dialog-actions>
