<div *ngIf="player">
  <mat-card>
    <div *ngIf="!isEditMode" class="bem-card-personal"
         fxLayout="row">
      <div fxFlex="40">
        <h1>{{player.fname}}</h1>
        <span>first name</span>

        <h2>{{player.nickname}}</h2>
        <span>nickname</span>

        <h3>{{player.dateOfBirth}}</h3>
        <span>date of birth</span>

        <h3>{{player.email}}</h3>
        <span>email</span>

        <h3>{{player.isMale ? 'Man' : 'Woman'}}</h3>
        <span>gender</span>
      </div>

      <div class="gk-personal-info" fxFlex="30">
        <h1>{{player.lname}}</h1>
        <span>last name</span>

        <h2>{{player.experience}}</h2>
        <span>experience</span>

        <h3>{{player.createdAt}}</h3>
        <span>registration date</span>

        <h3>{{player.lastSeen | date:'medium'}}</h3>
        <span>last seen</span>

        <div class="bem-personal-info-controls">
          <button (click)="setEditMode()" class="bem-btn"
                  mat-raised-button>
            Edit
          </button>
        </div>
      </div>

      <div class="bem-avatar-container" fxFlex="30">
        <img alt="avatar" height="300" src="assets/basketball-player.png" width="300">
      </div>
    </div>

    <form #personalDataForm="ngForm">
      <div *ngIf="isEditMode" class="bem-card-personal"
           fxLayout="row">
        <div fxFlex="40">
          <input #fname="ngModel" [(ngModel)]="player.fname" maxlength="15"
                 minlength="2" name="fname" required
                 type="text">
          <span>first name</span>
          <div *ngIf="fname.invalid && (fname.dirty || fname.touched)"
               class="gk-input-err">
            <div *ngIf="fname.errors.required">
              First name is required
            </div>
            <div *ngIf="fname.errors.minlength">
              First name must be at least 2 characters long
            </div>
          </div>

          <input #nickname="ngModel" [(ngModel)]="player.nickname" maxlength="15"
                 minlength="2" name="nickname" required
                 type="text">
          <span>nickname</span>
          <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)"
               class="gk-input-err">
            <div *ngIf="nickname.errors.required">
              Nickname is required
            </div>
            <div *ngIf="nickname.errors.minlength">
              Nickname must be at least 2 characters long
            </div>
          </div>

          <input [(ngModel)]="player.dateOfBirth"
                 maxlength="15"
                 name="dateOfBirth">
          <span>date of birth</span>

          <input [(ngModel)]="player.email" maxlength="50"
                 name="email"
                 type="email">
          <span>email</span>

          <select [(ngModel)]="player.isMale"
                  name="gender">
            <option [ngValue]="true">Man</option>
            <option [ngValue]="false">Woman</option>
          </select>
          <span>gender</span>
        </div>

        <div class="gk-personal-info" fxFlex="30">
          <input #lname="ngModel" [(ngModel)]="player.lname" maxlength="15"
                 minlength="2" name="lname" required
                 type="text">
          <span>last name</span>
          <div *ngIf="lname.invalid && (lname.dirty || lname.touched)"
               class="gk-input-err">
            <div *ngIf="lname.errors.required">
              Last name is required
            </div>
            <div *ngIf="lname.errors.minlength">
              Last name must be at least 2 characters long
            </div>
          </div>

          <h2>{{player.experience}}</h2>
          <span>experience</span>

          <h3>{{player.createdAt}}</h3>
          <span>registration date</span>

          <h3>{{player.lastSeen | date:'medium'}}</h3>
          <span>last seen</span>

          <div class="bem-personal-info-controls">
            <button (click)="savePlayer()" [disabled]="!personalDataForm.valid || !personalDataForm.dirty"
                    class="bem-save-btn"
                    mat-raised-button>Save
            </button>
            <button (click)="cancelEditing()" class="bem-btn"
                    mat-raised-button>Cancel
            </button>
          </div>
        </div>

        <div class="bem-avatar-container" fxFlex="30">
          <img alt="avatar" height="300" src="assets/basketball-player.png" width="300">
        </div>
      </div>
    </form>


    <div fxLayout="row">
      <div fxFlex="25">
        <h2>{{ player.team?.name ? player.team.name : 'Free agent' }}</h2>
        <span>team</span>
      </div>
      <div fxFlex="25">
        <h2>{{ player.residence ? player.residence.name : 'Homeless' }}</h2>
        <span>court</span>
      </div>
      <div fxFlex="25">
        <div *ngIf="player.awards && player.awards.length else awardsNone;">
          <h2 *ngFor="let award of player.awards">
            {{award.name}}
          </h2>
        </div>
        <ng-template #awardsNone>
          <h2>No awards</h2>
        </ng-template>
        <span>awards</span>
      </div>
    </div>

    <div fxLayout="row">
      <button disabled id="loadActivity" mat-raised-button>Load player activity</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <a class="bem-btn" mat-raised-button
         routerLink="/players/list">Back to list</a>
      <button disabled mat-raised-button>Award player</button>
      <button disabled mat-raised-button>Send message</button>
      <button disabled mat-raised-button>Send email</button>
      <button disabled mat-raised-button>Reset password</button>
      <button disabled mat-raised-button>Block player</button>
      <button (click)="deletePlayer()" class="bem-warn-btn"
              mat-raised-button>Delete player
      </button>
    </div>
  </mat-card>
</div>
