@import "src/assets/scss/styles-vars";

mat-card {
  margin-bottom: 4rem;
  padding: 60px;
  background-color: $colorGrey4;
  color: $colorGrey1;

  div {
    margin-bottom: 1rem;
  }

  h1, h2, h3 {
    margin: 0 0;
    text-decoration: underline;
    text-decoration-color: $colorOrange3;
    cursor: default;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }

  h3 {
    margin-top: 1rem;
  }

  span {
    color: $colorOrange4;
  }
}

.bem-card-personal {
  border-bottom: 2px dashed $colorGrey3;

  input, select {
    display: block;
    height: 3rem;
    width: 80%;
    box-sizing: border-box;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    background-color: #fff8ef;
    border-radius: 7px;
    border: solid #4e5157;
    outline: none;

    &:focus {
      box-shadow: 0 0 5px $colorOrange3;
      border: 1px solid $colorOrange2;
    }

  }

  .bem-avatar-container {
    text-align: right;

    img {
      border-radius: 4px;
      border: 2px solid #4f5258;
    }
  }
}

.bem-personal-info-controls {
  margin-top: 1rem;

  button {
    margin-right: 2rem;
  }
}

#loadActivity {
  width: 100%;
}
