<div class="gk-list-title-container" fxLayout="row" fxLayoutAlign="space-between">
  <bem-entity-list-header
    [entityName]="'Player'"
    (clickCreateBtnEvent)="createPlayer()"
  ></bem-entity-list-header>
</div>

<mat-accordion *ngIf="playersList"
               [multi]="true">
  <mat-expansion-panel *ngFor="let player of playersList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>{{player.nickname}}</h3>
      </mat-panel-title>

      <mat-panel-description>{{player.lastSeen | date:'medium'}}</mat-panel-description>
    </mat-expansion-panel-header>

    <div class="gk-list-item" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="25">
        <span>First name: </span>
        <span>{{player.fname}}</span></div>
      <div fxFlex="25">
        <span>Last name: </span>
        <span>{{player.lname}}</span></div>
      <div fxFlex="25">
        <span>Experience: </span>
        <span>{{player.experience}}</span></div>
      <div fxFlex="25">
        <span>Email: </span>
        <span>{{player.email}}</span></div>
    </div>

    <div class="gk-list-item" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="25">
        <span>Gender: </span>
        <span>{{player.isMale ? 'Man' : 'Woman'}}</span></div>
      <div fxFlex="25">
        <span>Date of birth: </span>
        <span>{{player.dateOfBirth}}</span></div>
      <div fxFlex="25">
        <span>Registration: </span>
        <span>{{player.createdAt}}</span></div>
      <div fxFlex="25">
        <span>Id: </span>
        <span>{{player.playerId}}</span></div>
    </div>
    <mat-action-row>
      <button (click)="deletePlayer(player.playerId, player.fname, player.lname)" class="bem-warn-btn"
              mat-raised-button>Delete player
      </button>
      <a class="bem-btn" mat-raised-button
         routerLink="/players/{{player.playerId}}">View details</a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
