@import "src/assets/scss/styles-vars";

mat-accordion .mat-expansion-panel-header-title,
mat-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

mat-accordion {
  mat-expansion-panel-header {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }

  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .gk-list-item {
    height: 3rem;

    div {
      :first-child {
        color: rgba(0, 0, 0, .54);
      }

      :nth-child(2) {
        font-weight: bold;
      }
    }
  }
}

mat-expansion-panel.mat-expansion-panel-spacing {
  background-color: $colorGrey4;

  mat-panel-title {
    h3 {
      color: $colorOrange3;
    }
  }

  a {
    margin-left: 1rem;
  }
}


