@import "../../../../assets/scss/styles-vars";

mat-sidenav-container {
  top: $headerHeight;

  mat-sidenav {
    top: $headerHeight !important;
    background-color: $colorGrey2;
    box-shadow: 2px 0 3px 0 rgb(87, 49, 14);

    .lock {
      color: $colorGrey4;

      &:hover {
        color: black;
      }
    }

    a {
      height: 10vh;
      font-size: 1.5rem;
      color: $colorOrange4;
    }

    mat-nav-list {
      mat-icon {
        color: $colorOrange2;
      }

      p {
        overflow: hidden;
        visibility: hidden;
        max-width: 0;
        transition: max-width .4s ease-out;
      }

      &.sidenav-opened p {
        visibility: visible;
        max-width: 120px; // impacts only on transition and not sidenav width.
      }
    }
  }
}
