<mat-sidenav-container autosize>
  <mat-sidenav #sidenav (mouseenter)="expandSideNav()"
               (mouseleave)="collapseSideNave()"
               [(opened)]="isOpen"
               [fixedInViewport]="true"
               [disableClose]="true"
               mode="side"
               role="navigation">

    <div [style.text-align]="isExpanded ? 'right' : 'center'">
      <button (click)="togglePin()"
              class="lock" mat-icon-button>
        <mat-icon *ngIf="isPinned">lock</mat-icon>
        <mat-icon *ngIf="!isPinned">lock_open</mat-icon>
      </button>
    </div>

    <mat-nav-list [class.sidenav-opened]="isExpanded">
      <a mat-list-item routerLink="{{ DASHBOARD }}">
        <mat-icon matListIcon>dashboard</mat-icon>
        <p>Dashboard</p>
      </a>

      <a mat-list-item routerLink="">
        <mat-icon matListIcon>assessment</mat-icon>
        <p>Metrics</p>
      </a>

      <a mat-list-item routerLink="">
        <mat-icon matListIcon>check_box</mat-icon>
        <p>Tasks</p>
      </a>

      <a mat-list-item routerLink="">
        <mat-icon matListIcon>search</mat-icon>
        <p>Search</p>
      </a>

      <a mat-list-item routerLink="">
        <mat-icon matListIcon>settings</mat-icon>
        <p>Settings</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
