<p>
  courts-list works!
</p>
<p>
  gimme some courts!
</p>
<div *ngIf="courtsList">
  <div *ngFor="let court of courtsList">
    <h1>{{court.name}}</h1>
    <a routerLink="/courts/{{court.courtId}}">view details</a>
  </div>
</div>
