<h1 mat-dialog-title>New Player</h1>
<div mat-dialog-content>
  <p>Fill in the following fields to create a new player:</p>
  <form #playerForm="ngForm">
    <div>
      <mat-form-field>
        <mat-label>first name</mat-label>
        <input #fnameRef="ngModel" [(ngModel)]="playerToSave.fname" autocomplete="off"
               matInput maxlength="15" minlength="2"
               name="fname"
               required>
        <mat-error
          *ngIf="fnameRef.hasError('required')">First name is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="fnameRef.hasError('minlength')">First name must be <strong>at least 2 characters</strong> long
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>last name</mat-label>
        <input #lnameRef="ngModel" [(ngModel)]="playerToSave.lname" autocomplete="off"
               matInput maxlength="15" minlength="2"
               name="lname"
               required>
        <mat-error
          *ngIf="lnameRef.hasError('required')">Last name is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="lnameRef.hasError('minlength')">Last name must be <strong>at least 2 characters</strong> long
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>email</mat-label>
        <input #emailRef="ngModel" [(ngModel)]="playerToSave.email" autocomplete="off"
               email matInput
               name="email"
               required>
        <mat-error
          *ngIf="emailRef.hasError('required')">Email is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="emailRef.hasError('email')">Email <strong>not valid</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>date of birth</mat-label>
        <input #dateRef="ngModel" [(ngModel)]="playerToSave.dateOfBirth" [matDatepicker]="dof"
               autocomplete="off"
               matInput
               name="dateOfBirth"
               required>
        <mat-datepicker-toggle [for]="dof" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dof></mat-datepicker>
        <mat-error
          *ngIf="dateRef.hasError('required')">Date of birth is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>nickname</mat-label>
        <input #nicknameRef="ngModel" [(ngModel)]="playerToSave.nickname" autocomplete="off"
               matInput maxlength="15" minlength="2"
               name="nickname"
               required>
        <mat-error
          *ngIf="nicknameRef.hasError('required')">Nickname is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="nicknameRef.hasError('minlength')">Nickname must be <strong>at least 2 characters</strong> long
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>gender</mat-label>
        <mat-select [(ngModel)]="playerToSave.isMale"
                    name="gender">
          <mat-option [value]="true">Man</mat-option>
          <mat-option [value]="false">Woman</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button (click)="createPlayer()"
          [disabled]="!playerForm.valid"
          class="mat-raised-button">Save
  </button>
  <button (click)="close()"
          class="mat-raised-button">Cancel
  </button>
</div>
