@import "../../../assets/scss/styles-vars";

main {
  min-height: calc(100% - #{$headerHeight} - #{$footerHeight});
  margin-top: $headerHeight;
  padding: 5vh;
  box-sizing: border-box;
  transition: margin-left .3s ease-out;
}
