<bem-header></bem-header>

<bem-sidenav (pin)="onPinSidenav($event)"></bem-sidenav>

<main role="main" [style]="isSidenavPinned? 'margin-left: 26vh' : 'margin-left: 9vh'">
  <router-outlet></router-outlet>
</main>

<bem-footer></bem-footer>
