@import "src/assets/scss/styles-vars";

.gk-card {
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  cursor: pointer;
}

.gk-card:hover {
  color: $colorOrange2;
  background-color: $colorGrey3;
  box-shadow: inset -2px -2px 4px 0px rgba(0, 0, 0, .26), inset 2px 2px 0px 0 rgba(0, 0, 0, .14);
}
