<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card (click)="navigate('/courts')"
            class="gk-card">
    <mat-card-header>
      <mat-card-title>
        Courts
      </mat-card-title>
      <mat-card-subtitle>
        Manage courts
      </mat-card-subtitle>
    </mat-card-header>
    <img alt="basketball court" mat-card-image src="assets/basketball-court.png">
  </mat-card>

  <mat-card (click)="navigate('/players/list')"
            class="gk-card">
    <mat-card-header>
      <mat-card-title>
        Players
      </mat-card-title>
      <mat-card-subtitle>
        Manage players
      </mat-card-subtitle>
    </mat-card-header>
    <img alt="ball and jersey" mat-card-image src="assets/ball-and-jersey.png">
  </mat-card>

  <mat-card (click)="navigate('')"
            class="gk-card">
    <mat-card-header>
      <mat-card-title>
        Teams
      </mat-card-title>
      <mat-card-subtitle>
        Manage teams
      </mat-card-subtitle>
    </mat-card-header>
    <img alt="two players" mat-card-image src="assets/teammates.png">
  </mat-card>

  <mat-card (click)="navigate('')"
            class="gk-card">
    <mat-card-header>
      <mat-card-title>
        Tournaments
      </mat-card-title>
      <mat-card-subtitle>
        Manage tournaments
      </mat-card-subtitle>
    </mat-card-header>
    <img alt="basket and ball" mat-card-image src="assets/basket-and-ball.png">
  </mat-card>

  <mat-card (click)="navigate('')"
            class="gk-card">
    <mat-card-header>
      <mat-card-title>
        Rules
      </mat-card-title>
      <mat-card-subtitle>
        Manage your rules
      </mat-card-subtitle>
    </mat-card-header>
    <img alt="time out sign" mat-card-image src="assets/time-out.png">
  </mat-card>
</div>
