@import "../../../../assets/scss/styles-vars";

mat-toolbar {
  height: $footerHeight;
  justify-content: center;
  color: $colorOrange2;
  background-color: $colorGrey4;

  span {
    height: 100%;
    font-size: 1rem;
    cursor: default;
  }
}
