<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content>
  {{data.description}}
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="close(true)" class="mat-raised-button">Ok</button>
  <button (click)="close(false)" class="mat-raised-button">Cancel</button>
</mat-dialog-actions>
