@import "src/assets/scss/styles-vars";

.popup {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  padding: 15px;
  border: 2px solid;
  border-radius: 5px;
  background-color: $colorOrange4;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

  &--lowered {
    max-height: 0;
    transition: max-height 0.8s ease-out;
    overflow: hidden;
  }

  &--raised {
    max-height: 50vh;
  }

  &--success {
    border-color: $colorGreen1;
  }

  &--error {
    border-color: $colorRed1;
  }

  &--info {
    border-color: $colorOrange3;
  }

  &__content {
    margin-top: 10px;

    & p:not(:first-child) {
      margin-top: 5px;
    }
  }

  &__footer {
    margin-top: 10px;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__close-btn {
    background-color: $colorGrey3;
    border-radius: 50%;
    border-style: hidden;
    box-shadow: 0 0 0 1pt #04910f;
    width: 17px;
    height: 17px;
    text-align: center;
    padding: 0;

    &:focus {
      outline: 0;
    }

    &:hover {
      background-color: $colorGrey1;
    }
  }

  &__close-icon {
    font-size: 17px;
    height: 17px;
    width: 17px;
    color: $colorOrange2;
  }
}
