<div class="popup popup--lowered"
     [class]="'popup--' + config.theme"
     [class.popup--raised]="isRaised"
>
  <div class="popup__header">
    <strong>{{config.data.title}}</strong>
  </div>
  <div class="popup__content">
    <p class="m-0"
       *ngFor="let text of config.data.content"
       [innerHTML]="text"
    ></p>
  </div>
  <div class="popup__footer"
       *ngIf="config.data.link"
  >
    <a class="bem-link"
       role="link"
       (click)="navigate()"
    >{{config.data.link.text}}</a>
  </div>
  <div class="popup__close">
    <button class="popup__close-btn"
            (click)="close()"
    >
      <mat-icon class="popup__close-icon">close</mat-icon>
    </button>
  </div>
</div>
