@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "/assets/scss/dialogs";
@import "/assets/scss/buttons";
@import "/assets/scss/misc";
@import "/assets/scss/helpers";

html,
body {
  height: 100vh;
  margin: 0;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}

body {
  scrollbar-width: none; // Firefox
}
