@import "../../../../assets/scss/styles-vars";

mat-toolbar {
  position: fixed;
  top: 0;
  height: $headerHeight;
  z-index: 1000; /* Ensure that app's content doesn't overlap the toolbar */
  background-color: $colorGrey1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .54);

  button {
    height: inherit;
    cursor: pointer;

    a {
      text-decoration: none;
    }
  }

  .logo {
    font-weight: bold;
    font-size: 2em;
    text-shadow: 5px 5px 4px black, 0 1px black, 1px 0 black, 0 -1px black;

    a {
      color: $colorOrange1;
    }
  }

  .toolbar-links {
    color: $colorOrange4;
    font-size: 1.5rem;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
