<mat-toolbar role="heading">
  <button class="logo" mat-button>
    <a routerLink="/">BEM Admin</a>
  </button>

  <span class="spacer"></span>

  <button mat-button>
    <a class="toolbar-links" routerLink="/">Home</a>
  </button>

  <button mat-button>
    <a class="toolbar-links" routerLink="/login">Log out</a>
  </button>
</mat-toolbar>
