<div class="gk-list-title-container" fxLayout="row" fxLayoutAlign="space-between">
  <h2>{{ entityName }} list</h2>
  <button class="bem-warn-btn" mat-raised-button (click)="onClickCreateBtn()">
    Create {{ entityName }}
    <mat-icon>playlist_add</mat-icon>
  </button>
</div>
