@import "src/assets/scss/styles-vars";

:host {
  width: 100%;
}

button {
  background-color: $colorGrey2;
  color: $colorOrange2;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  background-color: $colorGrey1;
}
