<p>
  court-details works!
</p>
<div *ngIf="court" class="gk-entity-details">
  <h1>{{court.courtId}}</h1>
  <h2>{{court.name}}</h2>
  <h2>{{court.createdAt}}</h2>
  <h2>{{court.description}}</h2>
  <h2>{{court.rating}}</h2>
</div>
